[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeggu440
[access "refs/for/refs/*"]
	read = group user/Jeggu440
	push = group user/Jeggu440
	label-Code-Review = -2..+2 group user/Jeggu440
	label-Verified = -1..+1 group user/Jeggu440
	rebase = group user/Jeggu440
	removeReviewer = group user/Jeggu440
	submit = group user/Jeggu440
[access "refs/heads/*"]
	read = group user/Jeggu440
	create = group user/Jeggu440
	push = +force group user/Jeggu440
	pushMerge = group user/Jeggu440
[access "refs/tags/*"]
	push = group user/Jeggu440
	push = +force group user/Jeggu440
